* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  "Arial", sans-serif;
    background: linear-gradient(to left, #5e1ca4, #176cff);
    min-height: 100vh;
    font-weight: bold;
}

form, h1 {
    background-color: rgba(0, 0, 0, 0.758);
}

.hover-effect:hover {
   transform: scale(1.04);
    transition: transform 0.4s ease;
}